.App {
    text-align: center;
}

.post__list {
    padding: 20px 10px;
}

.post {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 5px 7px;
    border: 1px solid olivedrab;
}

.post__btns {
    display: flex;
}
